!!! 5
/[if lt IE 7] <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html lang="en" class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html lang="en" class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{'lang' => 'en', 'class' => 'no-js'}<>
	<!--<![endif]-->

	%head
		%meta{"charset" => "utf-8"}
		%title Page sidebar content sidebar | Simiot, Bootstrap theme
		%meta{"content" => "width=device-width, initial-scale=1.0", "name" => "viewport"}
		%meta{"content" => "", "name" => "description"}
		%meta{"content" => "ppparticularity.com", "name" => "author"}

		%link{"href" => "css/style-t1.css", "rel" => "stylesheet"}

		%script{"src" => "js/libs/modernizr.min.js"}

		%link{"href" => "ico/favicon.ico", "rel" => "shortcut icon"}
		%link{"href" => "ico/apple-touch-icon.png", "rel" => "apple-touch-icon"}
		%link{"href" => "ico/apple-touch-icon-72x72.png", "rel" => "apple-touch-icon", "sizes" => "72x72"}
		%link{"href" => "ico/apple-touch-icon-114x114.png", "rel" => "apple-touch-icon", "sizes" => "114x114"}

	%body.page-sidebar-content-sidebar


		/ .................................... $header ....................................
		%header.navbar-fixed-top
			.container
				.navbar
					.navbar-inner
						%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
							%i.icon-reorder

						%a.brand.span3{:href => "index.html"}
							%img{:src => "img/logo-t1.png", :alt => ""}/

						%nav.nav-collapse.collapse
							%ul.nav.primary-nav.pull-right
								%li<
									%a{:href => "index.html"} Home
								%li<
									%a{:href => "about.html"} About
								%li<
									%a{:href => "services.html"} Services
								%li.dropdown
									%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
										Portfolio
										%b.caret
									%ul.dropdown-menu
										%li<
											%a{:href => "portfolio-3.html"} 3 columns
										%li<
											%a{:href => "portfolio-4.html"} 4 columns
										%li<
											%a{:href => "portfolio-item.html"} Portfolio item
								%li.active.dropdown
									%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
										Pages
										%b.caret
									%ul.dropdown-menu
										%li<
											%a{:href => "page-content-sidebar.html"} Content sidebar
										%li<
											%a{:href => "page-sidebar-content.html"} Sidebar content
										%li.active<
											%a{:href => "page-sidebar-content-sidebar.html"} Sidebar content sidebar
										%li<
											%a{:href => "page-content-sidebar-sidebar.html"} Content sidebar sidebar
										%li<
											%a{:href => "page-sidebar-sidebar-content.html"} Sidebar sidebar content
								%li<
									%a{:href => "contact.html"} Contact
								%li.dropdown
									%a.dropdown-toggle{:href => "#", "data-toggle" => "dropdown"}
										More
										%b.caret
									%ul.dropdown-menu
										%li<
											%a{:href => "features.html"} Features
										%li<
											%a{:href => "feature-slider.html"} Slider
										%li<
											%a{:href => "feature-video.html"} Video
										%li<
											%a{:href => "feature-masonry-isotope.html"} Masonry - Isotope
										%li<
											%a{:href => "feature-gallery.html"} Gallery
										%li<
											%a{:href => "feature-pricing.html"} Pricing
										%li<
											%a{:href => "news.html"} News
										%li<
											%a{:href => "news-item.html"} News item
										%li<
											%a{:href => "feature-miscellanea.html"} Miscellanea
										%li<
											%a{:href => "colors.html"} Colors


		/ .................................... $breadcrumb ....................................
		%section.section-breadcrumb.section-color-graylighter
			.container
				%ul.breadcrumb
					%li<
						%a{:href => "index.html"} Home
						%span.divider> /
					%li.active Page sidebar content sidebar


		/ .................................... $Page ....................................
		%section.section-content.section-page-sidebar-content-sidebar
			.container
				%h2.section-title
					Page sidebar content sidebar
				.row
					.span3
						%aside
							.widget
								%h5.widget-title Text widget
								.widget-content
									%p Maiores saepe quis optio sit labore. Soluta hic molestias aliquid doloribus sequi non culpa officiis praesentium quos vel ipsa laudantium? Quam placeat!
							.widget
								%h5.widget-title Gallery widget
								.widget-content
									%ul.thumbnails
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/07rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/07sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/08rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/08sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/09rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/09sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/10rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/10sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/11rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/11sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
										%li
											%a.thumbnail.fancybox{:href => "img/gallery/12rct-l.jpg", "data-fancybox-group" => "group"}
												%img{:src => "img/gallery/12sqr-s.jpg", :width => "70", :height => "70", :alt => ""}/
							.widget
								%h5.widget-title List widget
								.widget-content
									%ul.unstyled
										%li
											%a{:href => "#"}
												quia quisquam veniam
										%li
											%a{:href => "#"}
												vitae commodi a
										%li
											%a{:href => "#"}
												quia ea iste
										%li
											%a{:href => "#"}
												sint porro dolores
										%li
											%a{:href => "#"}
												ad quasi quisquam
							.widget
								%h5.widget-title Newsletter widget
								.widget-content
									%p Vel assumenda excepturi
									%form.form-vertical
										%input.span3{:type => "email", "placeholder" => "email"}/
										%button.btn.btn-small{:type => "submit"}
											Subscribe
					.span6
						%article
							%p Quidem laboriosam maxime dolor id ex quaerat quasi excepturi necessitatibus. Facere quis impedit neque sint amet aperiam ipsam nihil eligendi delectus ea? Inventore necessitatibus blanditiis veniam rem soluta quod recusandae in quia qui accusamus sunt hic repellendus iste illo magnam sequi dolore quasi dicta? Aspernatur esse dolorum sapiente pariatur architecto maxime ea repellendus totam nisi autem repellat temporibus natus aliquid rem laboriosam a ab doloribus odit. Sit ullam aliquam nostrum voluptas aperiam nisi omnis sint molestias iusto dolores sunt nam accusamus eius dolor quod tempore totam. Quod recusandae! Earum dolore veritatis eaque est repellendus amet explicabo eius odio distinctio suscipit cupiditate voluptatem ex? Quod eos nihil nulla vel totam fugit!
							%h3 Another title
							%p Dolorem nostrum laboriosam vitae ab aut corporis mollitia eum amet totam tempore itaque harum neque inventore consequuntur eveniet id ad velit ipsa. Facere saepe vel porro provident fuga animi unde ex laboriosam ipsa labore maiores exercitationem cumque eum ullam voluptatum aut ea molestias quaerat.
							%figure
								%img{:src => "img/gallery/10rct-l.jpg", :alt => ""}/
							%blockquote
								%p Sapiente dolore ipsum soluta consequatur laborum dolorum reprehenderit quidem ex commodi rem officiis maiores blanditiis cumque quisquam sit quia optio! At ipsam. Inventore culpa sapiente soluta consectetur provident nostrum nobis saepe modi laborum non veniam sint harum quasi perspiciatis cupiditate. Odio eius animi itaque. Earum ipsam quo neque at tempora sapiente odit facilis! Ipsum autem tempora et reiciendis dolorum eaque sed amet laudantium earum consequuntur ducimus!
							%p Veritatis magni recusandae nulla iste quas ex libero voluptas in. Tempore culpa eius cumque eligendi suscipit veritatis corrupti animi obcaecati? Assumenda earum.
							%p Commodi voluptas provident illum quo beatae sequi dignissimos quibusdam hic cumque non cum quos illo nostrum laboriosam ad a labore nemo animi. Mollitia laborum delectus dignissimos nobis vitae aut harum adipisci fuga quas laudantium eum ab esse numquam! Dolorem quaerat sed nam tenetur eum? Soluta repudiandae deleniti veritatis a vero itaque perspiciatis repellat pariatur sed natus fugit quas alias illo quo iste rerum minus enim quasi. Doloribus animi rerum aliquam eum sit dignissimos veniam quos voluptas dicta vero quidem possimus hic cumque nam culpa iste harum neque nobis.
					.span3
						%aside
							.widget
								%h5.widget-title Image widget
								.widget-content
									%figure
										%a.fancybox{:href => "img/gallery/15rct-l.jpg"}
											%img{:src => "img/gallery/15rct-s.jpg", :alt => ""}/
							.widget
								%h5.widget-title Social widget
								.widget-content
									%p.btn-group
										%a.btn.btn-squared.btn-small{:href => "#"}
											%i.icon-facebook
										%a.btn.btn-squared.btn-small{:href => "#"}
											%i.icon-twitter
										%a.btn.btn-squared.btn-small{:href => "#"}
											%i.icon-linkedin
										%a.btn.btn-squared.btn-small{:href => "#"}
											%i.icon-google-plus
							.widget
								%h5.widget-title Labels widget
								.widget-content
									%p
										%span.label Default
										%span.label.label-success Success
										%span.label.label-warning Warning
										%span.label.label-important Important
										%span.label.label-info Info
										%span.label.label-inverse Inverse




		/ .................................... $footer ....................................
		%footer.section-color-primarydark
			.container
				.row
					.span3
						.widget
							%address
								%strong Twitter, Inc.
								%br/
								795 Folsom Ave, Suite 600
								%br/
								San Francisco, CA 94107
								%br/
								%abbr{:title => "Phone"} P:
								%a{:href => "#"} (123) 456-7890
					.span3
						.widget
							%h5 Newsletter
							%p Vel assumenda excepturi nostrum tenetur alias quibusdam maiores.
							%form.form-vertical#newsletter-form
								.control-group
									%label{:for => "newsletter-email"}
									%input.span3#newsletter-email{:type => "email", "placeholder" => "email"}/
									%span.help-inline Insert valid email
								%button.btn.btn-small{:type => "submit"} Subscribe
						.widget
							%h5 Follow us
							%p.btn-group
								%a.btn.btn-link{:href => "#"}
									%i.icon-large.icon-facebook
								%a.btn.btn-link{:href => "#"}
									%i.icon-large.icon-twitter
								%a.btn.btn-link{:href => "#"}
									%i.icon-large.icon-linkedin
								%a.btn.btn-link{:href => "#"}
									%i.icon-large.icon-google-plus
					.span3
						.widget
							%h5 Latest tweets
							:markdown
								Dignissimos odit repellendus assumenda vel distinctio.  
								**1 hour ago**
							:markdown
								[@twitter](#) In asperiores beatae atque ex aut ullam omnis laborum eaque dolor sint veritatis illo.  
								**1 day ago**
							:markdown
								Blanditiis laudantium [#aperiam](#) quae enim quisquam [#repellendus](#)  
								**2 days ago**

					.span3
						.widget
							%h5 Contact us
							%form.form-vertical#contact-form
								.control-group
									%label{:for => "contact-name-surname"}
									%input.span3#contact-name-surname{:type => "text", "placeholder" => "name surname"}/
									%span.help-inline Insert name and surname
								.control-group
									%label{:for => "contact-email"}
									%input.span3#contact-email{:type => "email", "placeholder" => "email"}/
									%span.help-inline Insert valid email
								%label{:for => "contact-message"}
								%textarea.span3#contact-message{:name => "message", :rows => "5", "placeholder" => "message"}
								%button.btn.btn-small{:type => "submit"} Send



		/ .................................... $post-footer ....................................
		.post-footer.section-content.section-content-mini.section-color-graydark
			.container
				%p.pull-right
					Designed by
					%a{:href => "http://ppparticularity.com"} ppparticularity
				%p &copy; Simiot 2013 - All rights reserved





		/ .................................... $scripts ....................................
		-# jquery 1.9.1
		%script{"src" => "js/libs/jquery.min.js"}

		-# jquery ui map
		%script{"src" => "http://maps.google.com/maps/api/js?sensor=true"}
		%script{"src" => "js/libs/jquery.ui.map.min.js"}

		-# Bootstrap js
		%script{"src" => "bootstrap/js/bootstrap.min.js"}

		-# Fancybox | A tool for displaying content in a "lightbox" that floats overtop of web page
		%script{"src" => "js/libs/jquery.fancybox.min.js"}

		-# Hoverdir | Direction-Aware Hover Effect
		%script{"src" => "js/libs/jquery.hoverdir.min.js"}

		-# Isotope | An exquisite jQuery plugin for magical layouts
		%script{"src" => "js/libs/jquery.isotope.min.js"}

		-# Masonry | A dynamic layout plugin for jQuery, the flip-side of CSS floats
		%script{"src" => "js/libs/jquery.masonry.min.js"}

		-# FitVids | A lightweight, easy-to-use jQuery plugin for fluid width video embeds
		%script{"src" => "js/libs/jquery.fitvids.min.js"}

		-# FlexSlider | The best responsive slider. Period
		%script{"src" => "js/libs/jquery.flexslider.min.js"}

		-# Scripts
		%script{"src" => "js/script.js"}

